<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sq.ic.mapper.StudentHobbyMapper">
    <delete id="deleteByStudentId" parameterType="int">
        DELETE FROM 
			student_hobby
		WHERE
             student_id = #{id}
    </delete>


    <select id="selectListByStudentId" parameterType="int" resultType="StudentHobby">
        SELECT 
            student_id, hobby_id  
        FROM 
			student_hobby
		WHERE
             student_id = #{id}
    </select>

</mapper>